# /etc/nginx/modules-enabled/99-1984-rtmp.conf

rtmp {
    access_log /var/log/nginx/1984_rtmp_access.log;

    server {
        listen {{cookiecutter.proxy_rtmp_port}};

        application live {
            live on;

            allow publish 127.0.0.1;
            allow publish $external_ip;
            deny publish all;

            allow play 127.0.0.1;
            allow play $external_ip;
            deny play all;

            push rtmp://127.0.0.1:{{cookiecutter.docker_rtmp_port}};
        }
    }
}
